democrat,republican
HandicappedInfants,y,n
WaterProject,y,n
BudgetResolution,y,n
PhysicianFeeFreeze,y,n
ElSalvadorAid,y,n
ReligiousGroupsInSchools,y,n
AntiSatelliteTestBan,y,n
NicaraguanContrasAid,y,n
MXmissile,y,n
Immigration,y,n
SynfuelsCorporationCutback,y,n
Education,y,n
SuperfundRight2Sue,y,n
Crime,y,n
DutyFreeExports,y,n
ExportAdministrationActSA,y,n
